@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sansation';
  src: url('/assets/fonts/sansation/SansationRegular.eot');
  src: url('/assets/fonts/sansation/SansationRegular.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/sansation/SansationRegular.woff2') format('woff2'),
    url('/assets/fonts/sansation/SansationRegular.woff') format('woff'),
    url('/assets/fonts/sansation/SansationRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sansation';
  src: url('/assets/fonts/sansation/SansationBold.eot');
  src: url('/assets/fonts/sansation/SansationBold.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/sansation/SansationBold.woff2') format('woff2'),
    url('/assets/fonts/sansation/SansationBold.woff') format('woff'),
    url('/assets/fonts/sansation/SansationBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply text-brand-dark bg-brand-gray;
  }

  h2 {
    @apply font-bold font-sansation text-brand-dark text-xl leading-[1.375rem];
  }

  h3 {
    @apply font-bold font-sansation text-brand-dark text-base;
  }

  h4 {
    @apply font-bold font-sansation text-brand-dark text-sm;
  }

  section,
  footer {
    @apply pt-16 lg:pt-20;
  }

  td {
    @apply py-2 px-3;
  }
}

/* Checkbox Styles */
input[type='checkbox']:checked + div > span {
  @apply block;
}

/* Scroll Styles */
.no-scroll::-webkit-scrollbar {
  @apply w-2;
}

.swiper-button-disabled {
  background-color: gray !important;
}
